
body {
    background: #112A46;
    font-family: Arial, sans-serif;
    padding: 30px;
}


.container {
    width: 480px;
    margin: auto;
    background: #fff;
    padding: 33px;
    border-radius: 20px;
    box-shadow: 0 0 10px #aaa;
}


.card {
    width: 540px;
    margin: 40px auto;
    background: #fff;
    padding: 22px;
    border-radius: 12px;
    box-shadow: 0 0 15px #aaa;
}


h2 {
    color: #003366;
    text-align: center;
}


.label {
    font-weight: bold;
    color: #0047b3;
}

p {
    font-size: 17px;
    margin: 10px 0;
}

/* Form Fields */
input, textarea {
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Submit button */
button {
    background: #0077cc;
    color: #fff;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #005fa3;
}
